/* ------------------------------------------------------ */
/* FrameSet                                            */
/* ------------------------------------------------------ */
.FrameSet_ToolBar_Ground{
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px solid #EEEEEE;
   border-bottom: 1px solid #666666;
   background-color: #EEEEEE;
}

.FrameSet_Catalog_Content{
   background-color: #EEEEEE;
}

.FrameSet_Canvas_Content{
   background-color: #EEEEEE;
}

.FrameSet_Property_Content{
   background-color: #777777;
}

.FrameSet_StatusBar_Ground{
   background: #EEEEEE;
   border-top: 1px solid #999999;
}


/* ------------------------------------------------------ */
/* ResourceSelectDialog                                */
/* ------------------------------------------------------ */
.ResourceSelectDialog_Toolbar_Ground{
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px solid #EEEEEE;
   border-bottom: 1px solid #666666;
   background-color: #AEAEAE;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.ResourceSelectDialog_Catalog_Content{
   background-color: #EEEEEE;
}

.ResourceSelectDialog_List_Content{
   background-color: #EEEEEE;
}




/* ------------------------------------------------------ */
/* SolutionFrameSet                                    */
/* ------------------------------------------------------ */
.SolutionFrameSet_Catalog_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.SolutionFrameSet_Catalog_Ground{
   background: #EEEEEE;
}

.SolutionFrameSet_List_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   padding-left: 6px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.SolutionFrameSet_List_Ground{
   background: #EEEEEE;
}

.SolutionFrameSet_Property_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.SolutionFrameSet_Property_Ground{
   background: #EEEEEE;
}

/* ------------------------------------------------------ */
/* ProjectFrameSet                                   */
/* ------------------------------------------------------ */
.ProjectFrameSet_FrameSet_Ground{
   background: #EEEEEE;
}

.ProjectFrameSet_PageControl{
   width: 100%;
   height: 100%;
}

.ProjectFrameSet_Toolbar_Ground{
   padding: 1px 4px;
   border-bottom: 1px solid #999999;
   background-color: #AEAEAE;
   background: -ms-linear-gradient(top, #EEEEEE, #BBBBBB);
   background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#EEEEEE, endColorStr=#BBBBBB);
}

.ProjectFrameSet_Catalog_Ground{
   padding-top: 4px;
   background-color: #CCCCCC;
}

.ProjectFrameSet_Catalog_Content{
   background: #FFFFFF;
}

.ProjectFrameSet_Canvas_Ground{
   padding-top: 4px;
   background-color: #CCCCCC;
}

.ProjectFrameSet_Canvas_Content{
   background: #777777;
}

.ProjectFrameSet_Property_Ground{
   padding-top: 4px;
   background-color: #CCCCCC;
}

.ProjectFrameSet_Property_Content{
   background-color: #777777;
}

/* ------------------------------------------------------ */
/* ResourceListItem                                    */
/* ------------------------------------------------------ */
.ResourceListItem_TypePanel{
   padding: 4px;
}

.ResourceListItem_TypePrivateLabel{
   text-align: left;
   width: 60px;
   padding: 2px 8px 2px;
   color: #CCCCCC;
   border: 1px solid #999999;
   background: rgba(1, 1, 1, 0.6);
   z-index: 1;
}

.ResourceListItem_TypePublicLabel{
   text-align: left;
   width: 60px;
   padding: 2px 8px 2px;
   color: #FF9999;
   border: 1px solid #996666;
   background: rgba(1, 1, 1, 0.6);
   z-index: 1;
}

/* ------------------------------------------------------ */
/* ResourceFrameSet                                   */
/* ------------------------------------------------------ */
.ResourceFrameSet_Toolbar_Ground{
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px solid #EEEEEE;
   border-bottom: 1px solid #666666;
   background-color: #AEAEAE;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.ResourceFrameSet_Catalog_Content{
   background: #EEEEEE;
}

.ResourceFrameSet_List_Content{
   background: #EEEEEE;
}

.ResourceFrameSet_Property_Content{
   background: #EEEEEE;
}

/* ------------------------------------------------------ */
/* BitmapCatalogItem                                   */
/* ------------------------------------------------------ */
.BitmapCatalogItem_TypePanel{
   padding: 4px;
}

.BitmapCatalogItem_TypeLabel{
   text-align: left;
   width: 80px;
   padding: 2px 8px 2px;
   color: #CCCCCC;
   z-index: 1;
   border: 1px solid #999999;
   background: rgba(1, 1, 1, 0.6);
}

/* ------------------------------------------------------ */
/* BitmapFrameSet                                      */
/* ------------------------------------------------------ */
.BitmapFrameSet_ToolBar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.BitmapFrameSet_Catalog_Ground{
   background: #EEEEEE;
}

.BitmapFrameSet_Search_Ground{
   background: #EEEEEE;
}

.BitmapFrameSet_Preview_Ground{
   background: #EEEEEE;
}

.BitmapFrameSet_FrameSet_Ground{
   background: #EEEEEE;
}

.BitmapFrameSet_Property_Ground{;
   background: #777777;
}

/* ------------------------------------------------------ */
/* MaterialCatalogItem                                   */
/* ------------------------------------------------------ */
.MaterialCatalogItem_TypePanel{
   padding: 4px;
}

.MaterialCatalogItem_TypeLabel{
   text-align: left;
   width: 80px;
   padding: 2px 8px 2px;
   color: #CCCCCC;
   z-index: 1;
   border: 1px solid #999999;
   background: rgba(1, 1, 1, 0.6);
}

/* ------------------------------------------------------ */
/* MaterialFrameSet                                      */
/* ------------------------------------------------------ */
.MaterialFrameSet_ToolBar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.MaterialFrameSet_Catalog_Content{
   background: #EEEEEE;
}

.MaterialFrameSet_Canvas_Content{
   background: #EEEEEE;
}

.MaterialFrameSet_Property_Content{
   background: #777777;
}

/* ------------------------------------------------------ */
/* MeshFrameSet                                   */
/* ------------------------------------------------------ */
.MeshFrameSet_Toolbar_Ground{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #AEAEAE, #999999);
   background: -moz-linear-gradient(top, #AEAEAE, #999999); 
   background: -webkit-gradient(linear, left top, left bottom, from(#AEAEAE), to(#999999)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#999999);
}

.MeshFrameSet_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#AEAEAE)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

.MeshFrameSet_Catalog_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.MeshFrameSet_Catalog_Ground{
   background: #EEEEEE;
}

.MeshFrameSet_Search_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.MeshFrameSet_Search_Ground{
   background: #EEEEEE;
}

.MeshFrameSet_Preview_Toolbar{
   background: #AEAEAE;
   padding-top: 1px;
   border-bottom: 1px solid #999999;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.MeshFrameSet_Preview_Ground{
   background: #EEEEEE;
}

.MeshFrameSet_Property_Ground{;
   background: #777777;
}

/* ------------------------------------------------------ */
/* ModelFrameSet                                       */
/* ------------------------------------------------------ */
.ModelFrameSet_Toolbar_Ground{
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px solid #EEEEEE;
   border-bottom: 1px solid #666666;
   background: #AEAEAE;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.ModelFrameSet_Catalog_Content{
   background: #EEEEEE;
}

.ModelFrameSet_Canvas_Content{
   background: #EEEEEE;
}

.ModelFrameSet_Property_Content{
   background: #777777;
}

/* ------------------------------------------------------ */
/* TemplateFrameSet                                    */
/* ------------------------------------------------------ */
.TemplateFrameSet_Toolbar_Ground{
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px solid #EEEEEE;
   border-bottom: 1px solid #666666;
   background: #AEAEAE;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.TemplateFrameSet_Catalog_Content{
   background: #EEEEEE;
}

.TemplateFrameSet_Canvas_Content{
   background: #EEEEEE;
}

.TemplateFrameSet_Property_Content{
   background: #777777;
}

/* ------------------------------------------------------ */
/* SceneFrameSet                                       */
/* ------------------------------------------------------ */
.SceneFrameSet_Toolbar_Ground{
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px solid #EEEEEE;
   border-bottom: 1px solid #666666;
   background: #AEAEAE;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.SceneFrameSet_Catalog_Content{
   background: #EEEEEE;
}

.SceneFrameSet_Canvas_Content{
   background: #EEEEEE;
}

.SceneFrameSet_Property_Content{
   background: #777777;
}

/* ------------------------------------------------------ */
/* PrivateWorkspace                                    */
/* ------------------------------------------------------ */
.PrivateWorkspace_MenuBar_Ground{
   padding-top: 2px;
   border-top: 1px solid #DDDDDD;
   border-bottom: 1px solid #999999;
   background: #EEEEEE;
   background: -ms-linear-gradient(top, #EEEEEE, #CCCCCC);
   background: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#EEEEEE, endColorStr=#CCCCCC);
}

.PrivateWorkspace_StatusBar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

/* ------------------------------------------------------ */
/* ShareWorkspace                                      */
/* ------------------------------------------------------ */
.ShareWorkspace_Menubar_Ground{
   padding-top: 2px;
   border-top: 1px solid #DDDDDD;
   border-bottom: 1px solid #999999;
   background: #EEEEEE;
   background: -ms-linear-gradient(top, #AEAEAE, #999999);
   background: -moz-linear-gradient(top, #AEAEAE, #999999); 
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#AEAEAE, endColorStr=#999999);
}

.ShareWorkspace_Statusbar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

/* ------------------------------------------------------ */
/* FEditorDsWorkspace                                     */
/* ------------------------------------------------------ */
.FEditorDsWorkspace_MenuBar_Ground{
   padding-top: 2px;
   border-top: 1px solid #DDDDDD;
   border-bottom: 1px solid #999999;
   background: #EEEEEE;
   background: -ms-linear-gradient(top, #EEEEEE, #CCCCCC);
   background: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#EEEEEE, endColorStr=#CCCCCC);
}

.FEditorDsWorkspace_StatusBar_Ground{
   background: #AEAEAE;
   border-top: 1px solid #999999;
   background: -ms-linear-gradient(top, #555555, #AEAEAE);
   background: -moz-linear-gradient(top, #555555, #AEAEAE); 
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#555555, endColorStr=#AEAEAE);
}

/* ------------------------------------------------------ */
/* FEditorDsFrameSet                                */
/* ------------------------------------------------------ */
.FEditorDsFrameSet_Toolbar_Ground{
   padding-left: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-top: 1px solid #EEEEEE;
   border-bottom: 1px solid #666666;
   background-color: #AEAEAE;
   background: -ms-linear-gradient(top, #CFCFCF, #BBBBBB);
   background: -moz-linear-gradient(top, #CFCFCF, #BBBBBB); 
   background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); 
   filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#CFCFCF, endColorStr=#BBBBBB);
}

.FEditorDsFrameSet_Catalog_Content{
   background: #EEEEEE;
}

.FEditorDsFrameSet_Space_Content{
   position: relative;
   background: #EEEEEE;
}

.FEditorDsFrameSet_Property_Content{
   background-color: #777777;
}
